.bg{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,
     rgb(255, 112, 112), rgb(107, 107, 255));
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    padding: 0.5vw;
    border-radius: 3vw;
    border: 2px solid lightgray;
}

.textview{
    width: 66vw;
    height: 15vw;
    font-size: 2vw;
    letter-spacing: 0.2vw;
    text-indent: 1vw;
    margin-top: 1vw;
    border-radius: 1vw;
}

.botoes{
    width: 68vw;
    margin-top: 2%;
}
.botoes input{
    width: 15vw;
    height: 15vw;
    margin: 1vw 1vw;
    font-size: 4vw;
    border-radius: 5%;
}

#dobro{
    width: 32vw;
}